* {
    margin: 0px;
    padding: 0px;
}


body {
	margin: 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    background-color: white;
    
}

a {
	text-decoration: none;
}


header {
	width: 100%;
	height: 81px;
	font-size : 14px;
	font-weight: 600;
	background-color: white;
	border-bottom: 1px solid #EBEBEB;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
 	float: left;
 	margin: 0 16px;
	display: block;
 	width: auto;
  	line-height: 80px;

}


.container {
	width: auto;
	margin: 0 auto;
}

.header-left {
	float: left;
}

.logo {
	font-size: 36px;
	color: lightgreen;
	padding-left: 24px;
	padding-right: 12px;
	line-height: 80px;
}



.header-list a{
  display: block;
  width: auto;
  line-height: 80px;
}

.header-list a:visited {
	color: #484848;
}

.header-list a:active{
  border: 2px solid black;
  border-radius: 4px;

}

.header-text {
	color: #008489;
	border-bottom: 2px solid #008489;
}

.btn {
	font-size: 12px
	font-weight: bold;
	color: white;
	display: block;
	padding: 6.5px 16px;
	border-radius: 8px;
	background-image: radial-gradient(circle at top left, #FF385C 0%, #E61E4D 27.5%, #E31C5F 40%, #D70466 57.5%, #BD1E59 75%, #BD1E59 100% )
}

.header-btn {
	float: right;
	margin-top: 22px;
	margin-right: 93px;
}

